@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");
main {
  margin-top: -50px; }

.mh {
  height: 100vh;
  background: white;
  background: linear-gradient(135deg, #b18201 0%, #c79202 10%, white 10%, white 90%, #c79202 90%, #b18201 100%); }
  .mh-container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .mh-box {
    height: 100%;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .mh-blurb {
    max-width: 40vw; }
    .mh-blurb * {
      margin: 10px 0; }
    .mh-blurb-name {
      font-weight: 500;
      font-size: 2.3rem;
      color: #222; }
    .mh-blurb-tagline {
      font-weight: 400;
      font-size: 1.7rem;
      color: #444; }
  .mh-logo {
    border-radius: 50%;
    background: #222; }
    .mh-logo img {
      width: 25vw;
      max-width: 300px; }

.intro {
  background: white;
  margin: 0 0 50px;
  padding: 20vh 0; }
  .intro-cont {
    width: 60%;
    margin: 0 auto; }
  .intro p {
    text-align: center;
    font-size: 1.9rem;
    line-height: calc(1.7rem * 1.7);
    color: #333;
    font-weight: 500; }
  .intro hr {
    width: 75%;
    height: 1px;
    background: #555; }

.sitemap-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center; }

.sitemap-row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }

.sitemap-square {
  position: relative;
  width: 250px;
  height: 350px;
  overflow: hidden;
  width: 350px;
  height: 350px;
  background: #222;
  margin: 20px; }
  .sitemap-square:after {
    content: “ ”;
    background: inherit;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    filter: blur(10px); }

.nav {
  position: fixed;
  width: 100vw;
  z-index: 8;
  display: grid;
  grid-template-columns: 200px auto 40px 40px;
  grid-template-rows: calc(50px - 10px);
  padding-top: 10px;
  min-width: 300px;
  z-index: 1; }
  .nav-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    z-index: 2; }
    .nav-logo-img {
      height: 100%;
      margin-left: 20%; }
  .nav-bar {
    display: none; }
    .nav-bar-item {
      text-decoration: none;
      display: inline-block;
      color: #111;
      margin: 0;
      padding: 0;
      align-self: center;
      font-size: 18px;
      font-weight: 500; }
      .nav-bar-item:hover, .nav-bar-item:focus {
        color: white;
        transition: all 0.2s ease-in; }
      .nav-bar-item:active {
        color: #ca3434;
        border-bottom: 2px solid #ca3434;
        transition: color 0.2s ease-in; }
      .nav-bar-item-active {
        border-bottom: 2px solid #111; }
  @media only screen and (min-width: 940px) {
    .nav {
      grid-template-columns: 200px auto 550px; }
      .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        grid-column-start: 3;
        grid-column-end: 4;
        background: #ccb311;
        border-radius: 3px 0 0 3px; } }

.nav {
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  padding-right: 8vw;
  width: calc(100vw - 8vw); }
  .nav-item {
    margin: 0 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555; }
    .nav-item-cont {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%; }

body, html {
  padding: 0;
  margin: 0; }

:root {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px; }

/*# sourceMappingURL=main.css.map */