main {
  background-image: url(images/black_lozenge/black_lozenge.png);
  background-repeat: repeat;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 350px;
}
.masthead {
  display: grid;
  grid-template-columns: auto 90vw auto;
  grid-template-rows: 200px auto;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 100px auto 10px;
}
@media only screen and (min-width: 479px) {
  .masthead {
    grid-template-columns: auto 200px 500px auto;
    grid-template-rows: 200px;
    align-self: center;
    margin: 100px auto 25px;
  }
}
.logo {
  background-image: url(images/logo.png);
  background-size: cover;
  width: 200px;
  height: 200px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
}
@media only screen and (min-width: 479px) {
  .logo {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: stretch;
  }
}
.blurb {
  color: #eee;
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 10px;
}
@media only screen and (min-width: 479px) {
  .blurb {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    align-self: stretch;
  }
}
.blurb .mission {
  margin: 10px;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}
.video {
  background: #eee;
  align-self: center;
  width: 90vw;
  height: 50vw;
  max-width: 90vw;
  max-height: 80vh;
  margin: 25px auto 50px;
}
@media only screen and (min-width: 479px) {
  .video {
    margin: 25px auto 100px;
  }
}
:root {
  width: 100vw;
  height: 100vh;
}
