.about {
    width: 90vw;
    margin: 40px auto;
}

.story {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;

    background: #222;

    &-pic {
        grid-column: 1 / span 1;
        width: 100%;
    }

    &-text {
        grid-column: 2 / span 1;
        color: $light-color;
    }

    @media #{$max-tablet} {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;

        &-pic {
            grid-row: 1 / span 1;
        }

        &-text {
            grid-column: 1 / span 1; 
            grid-row: 2 / span 1;
        }
    }
}

.stuff {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 5px;

    height: 300px;
    width: 100%;

    @media #{$max-tablet} {
        grid-gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;

        .projects {
            grid-row: 1 / span 1;
        }

        .events {
            grid-column: 1 / span 1; 
            grid-row: 2 / span 1;
        }
    }
    
}
.projects {
    grid-column: 1 / span 1;
    
    background: #222;
}

.events {
    grid-column: 2 / span 1;
    
    background: #222;
}