.page-sub {
    text-align: left;
    background: #353535;
    padding: 40px 20px;
    margin: 3rem 0;
    border-radius: 3px;
    
    &-heading {
        color: $gold-color;

        &-h2 {
            margin: 0;
            font-size: 1.6rem;
        }
    }

    &-para {
        color: $light-color;
        font-size: 0.95rem;
        line-height: calc(0.95rem * 1.5);
        &-p {
            padding: 20px 3px;
            margin: 0;
        }

        &-list {
            margin: 0;
            padding: 0 40px;
            &-li {
                padding: 5px 0;
            }
        }
    }
}