@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');

* {
    -webkit-overflow-scrolling: touch
}

:root {
    font-family: 'Ubuntu', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // overflow-x: hidden;
}

html, body {
    min-width: $min-screen-width;
}

body {
    margin: 0;
    text-align: center;
    background: $dark-color;
    overflow-x: hidden;
}

.main {
    // background-image: url(../../images/black_lozenge.png);
    // background-repeat: repeat;
    background: $dark-color;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: $min-screen-width;

    padding-top: $nav-height;
}

.link {
    color: $gold-color;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
        font-weight: 700;
    }

    &:active {
        font-weight: 500;
    }
}

.page-title {
    width: 100%;
    color: $dark-text-color;

    &-h1 {
        font-size: 3rem;
    }
}