main {
    // margin-top: -0px;
}

.mh {
    // height: calc(100vh - 50px);
    height: 100vh;

    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgb(177, 130, 1) 0%, rgb(199, 146, 2) 10%, rgba(255,255,255,1) 10%, rgba(255,255,255,1)90%, rgb(199, 146, 2) 90%, rgb(177, 130, 1) 100%);

    &-container {
        width: 100vw;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-box {
        // @extend .shadow; 

        height: 100%;
        width: 90vw;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &-blurb {
        width: 650px;
        * {
            margin: 10px 0;
        }
        &-name {
            font-weight: 500;
            font-size: 2.2rem;
            color: #222;
        }

        &-tagline {
            font-weight: 400;
            font-size: 1.5rem;
            line-height: calc(1.5rem * 1.5);
            color: #444;
        }
    }

    &-logo {
        border-radius: 50%;
        background: #222;
        img {
            width: 25vw;
            max-width: 300px;
        }
    }

    @media screen and (max-width: $tablet) {
        &-box {
            flex-direction: column-reverse;
            justify-content: center;

            width: 85vw;
        }

        &-blurb {
            margin-top: 20px;
            width: 100%;
            text-align: center;
        }

        &-logo {
            img {
                width: 35vw;
            }
        }
    }

}

