.nav {
    z-index: 8;
    $padding: 8vw;

    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    padding-right: $padding;
    width: calc(100vw - #{$padding});

    // background: #fff;

    &-item {
        margin: 0 15px;
        font-size: 1.2rem;
        font-weight: bold;
        color: #555;

        &-cont {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
        }
    }
}