.nav {
    position: fixed;
    width: 100vw;

    display: grid;
    grid-template-columns: 200px auto 40px 40px;
    grid-template-rows: calc(#{$nav-height} - 10px);
    padding-top: 10px;

    min-width: $min-screen-width;

    z-index: 1;

    &-logo {
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: left;
        z-index: 2;

        &-img {
            height: 100%;
            margin-left: 20%;
        }
    }

    &-bar {
        display: none;

        &-item {
            text-decoration: none;
        
            display: inline-block;
            color: $dark-color;
            margin: 0;
            padding: 0;
            align-self: center;
            font-size: 18px;
            font-weight: 500;
    
            &:hover, &:focus {
                color: $accent-color; 
                transition: all 0.2s ease-in;      
            }
            &:active {
                color: $accent-color; 
                border-bottom: 2px solid $accent-color;
                transition: color 0.2s ease-in; 
            }

            &-active {
                border-bottom: 2px solid $dark-color;
            }
        }
    }

    @media #{$tablet} {
        grid-template-columns:  200px auto 450px;

        &-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
    
            grid-column-start: 3;
            grid-column-end: 4;
    
            background: $gold-color;
            border-radius: 3px 0 0 3px;
        }
    }
}

.m-nav {
    z-index: 1;
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    padding-top: 40px;

    height: 100vh;
    background: $gold-color;
    opacity: 0.95;

    &-hamburger {
        z-index: 2;
        grid-column-start: 3;
        grid-column-end: 4;
        background: $light-color;
        border-radius: 2px;
        
        font-size: 33px;
    
        &:before {
            content:'\2261'; 
        }
    
        vertical-align: middle;
        border: none;
        cursor: pointer;
    
        &:hover, &:active {
            background: $gold-color;
            transition: all 0.3s ease-out;
        }
        &:active {
            color: $light-color;
        }
    
        @media #{$tablet} {
            display: none;
        }
    }

    &-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;

        &-item {
            display: block;
            padding: 20px 0;
            text-decoration: none;
            color: $dark-color;
            font-size: 2rem;

            &:hover, &:focus {
                color: $light-color;
                transition: all 0.3s ease-in;
            }

            &:active {
                color: $accent-color;
            }

            &-active {
                text-decoration: underline;
            }
        }

    }


    &-active { 
        display: block;
    }
}