.project {
    &-container {
        text-align: left;
        max-width: 1000px;
        margin: 0 auto;
        
        background: #fafafa;
        padding: 20px;
    }
    &-desc {
        &-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
            color: $gold-color;
        }
        &-img {
            width: 300px;
            height: 150px;
            background: black;
            margin-bottom: 20px;
        }
        &-text {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
    &-members {
        &-title {
            font-size: 1.1rem;
        }
        &-list {
            padding: 0;
            li {
                display: inline-block;
                border: 2px solid $gold-color;
                padding: 5px 10px;
                color: $gold-color;
                font-weight: bold;
            }
        }
    }
}