
/* screen sizes for media queries*/
$tablet: "only screen and (min-width: 940px)";
$max-tablet: "only screen and (max-width: 939px)";

/* min screen width globally */
$min-screen-width: 300px;

/* colors */
$dark-color: #111;
$dark-text-color: #222;
$light-color: #eee;
$gold-color: rgb(80%, 70%, 6.8%);
$accent-color: hsla(0, 59.1%, 49.8%, 100%);

$nav-height: 50px;